
    <div class="hero">
      <div class="hero__list">
        <div class="hero__banner banner1 active-banner">
          <div class="hero__overlay"></div>
          <div class="hero__content">
            <h1 class="hero__title">
              Giày đẹp – Phong cách chuẩn – Cá tính riêng
            </h1>
            <a href="./detail.html" class="hero__link"> Xem thêm </a>
          </div>
        </div>

        <div class="hero__banner banner2">
          <div class="hero__overlay"></div>
          <div class="hero__content">
            <h1 class="hero__title">Bước tự tin – Chạm phong cách.</h1>
            <p class="hero__desc">
              Mỗi đôi giày là một câu chuyện về bạn. Khám phá bộ sưu tập mới
              nhất, nơi thời trang và sự thoải mái gặp nhau.
            </p>
          </div>
        </div>

        <div class="hero__banner banner3">
          <div class="hero__overlay"></div>
          <div class="hero__content">
            <h1 class="hero__title">Nâng niu từng bước chân bạn</h1>
            <p class="hero__desc">
              Chúng tôi không chỉ bán giày – chúng tôi đồng hành cùng bạn trên
              mọi hành trình với chất lượng và đẳng cấp.
            </p>
          </div>
        </div>
      </div>

      <button class="hero__btn hero__btn--prev">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="hero__btn hero__btn--next">
        <i class="fa-solid fa-chevron-right"></i>
      </button>

      <div class="hero__dots">
        <span class="dot active-dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>

    <div class="featured">
      <div class="container">
        <h2 class="featured__title">Sản phẩm nổi bật</h2>
        <div class="featured__list">
         {{#each products}}
              <div class="featured__card">
            <div class="featured__image">
              <img src="{{this.imageUrl}}" alt="" class="featured__img" />
            </div>
            <div class="featured__content">
              <h3 class="featured__name">{{this.productName}}</h3>
              {{!-- <p class="featured__desc">{{this.description}}</p> --}}
              <p class="featured__price">{{formatCurrency this.price}}</p>
              <a href="/Products/Detail/{{this._id}}" class="featured__detail">Chi tiet</a>
            </div>
          </div>
         {{/each}}

          {{!-- <div class="featured__card">
            <div class="featured__image">
              <img src="/images/banner1.jpeg" alt="" class="featured__img" />
            </div>
            <div class="featured__content">
              <h3 class="featured__name">Nike</h3>
              <p class="featured__desc">ha ngu si dan don</p>
              <p class="featured__price">3000</p>
              <a href="" class="featured__detail">Chi tiet</a>
            </div>
          </div>

          <div class="featured__card">
            <div class="featured__image">
              <img src="/images/banner2.jpeg" alt="" class="featured__img" />
            </div>
            <div class="featured__content">
              <h3 class="featured__name">Nike</h3>
              <p class="featured__desc">ha ngu si dan don</p>
              <p class="featured__price">3000</p>
              <a href="" class="featured__detail">Chi tiet</a>
            </div>
          </div>
          <div class="featured__card">
            <div class="featured__image">
              <img src="/images/banner3.jpeg" alt="" class="featured__img" />
            </div>
            <div class="featured__content">
              <h3 class="featured__name">Nike</h3>
              <p class="featured__desc">ha ngu si dan don</p>
              <p class="featured__price">3000</p>
              <a href="" class="featured__detail">Chi tiet</a>
            </div>
          </div> --}}
        </div>
      </div>
    </div>

    <div class="sport">
      <div class="container">
        <div class="sport__body">
          <h3 class="sport__title">Phong cách</h3>
          <div class="sport__list">
            <div class="sport__item">
              <div class="sport__image">
                <img src="/images/running.jpg" alt="" class="sport__img" />
              </div>
              <div class="sport__content">
                <p class="sport__content-title">Đường phố</p>
                <a href="" class="sport__detail">Xem thêm >></a>
                <a href="" class="featured__detail-none">Chi tiet</a>
              </div>
            </div>

            <div class="sport__item">
              <div class="sport__image">
                <img src="/images/stw.webp" alt="" class="sport__img" />
              </div>
              <div class="sport__content">
                <p class="sport__content-title">Thể thao</p>
                <a href="" class="sport__detail">Xem thêm >></a>
              </div>
            </div>

            <div class="sport__item">
              <div class="sport__image">
                <img src="/images/thoitrang.avif" alt="" class="sport__img" />
              </div>
              <div class="sport__content">
                <p class="sport__content-title">Đơn giản</p>
                <a href="" class="sport__detail">Xem thêm >></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="collection">
      <div class="container">
        <div class="collection__left">
          <img
            src="/images/Shoes Sale (Poster).png"
            alt="Poster"
            class="collection__left-img"
          />
        </div>

        <div class="collection__right">
          <h3 class="collection__right-title">Bộ sưu tập mới nhất</h3>

          <div class="collection__right-list">
            <div class="collection__right-item">
              <img
                src="/images/running.jpg"
                alt=""
                class="collection__right-img"
              />
              <a href="" class="collection__right-link">Xem thêm >></a>
            </div>

            <div class="collection__right-item">
              <img
                src="/images/running.jpg"
                alt=""
                class="collection__right-img"
              />
              <a href="" class="collection__right-link">Xem thêm >></a>
            </div>

            <div class="collection__right-item">
              <img
                src="/images/running.jpg"
                alt=""
                class="collection__right-img"
              />
              <a href="" class="collection__right-link">Xem thêm >></a>
            </div>

            <div class="collection__right-item">
              <img
                src="/images/running.jpg"
                alt=""
                class="collection__right-img"
              />
              <a href="" class="collection__right-link">Xem thêm >></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="container">
        <h3 class="contact__title" id="contact__title">Liên hệ</h3>
        <div class="contact__body">
          <div class="contact__right">
            <iframe
              class="contact__map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3830.83491706363!2d108.21810921532003!3d16.056517689363688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314217fb8605faaf%3A0xadb9c97aafda01b2!2zVHLGsOG7nW5nIMSQ4buTbmYgdOG7s25hIDQ1OSBUw6JuIMSQ4budbmcgU8OocywgQsOhbmggS2jhu6EsIFThur8gS2h1YSwgxJDhuqhjIE5hbQ!5e0!3m2!1svi!2s!4v1700000000000!5m2!1svi!2s"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>

          <div class="contact__left">
            <form action="" class="contact__form">
              <input
                type="text"
                class="contact__input"
                id="contact__name"
                placeholder="Họ và tên"
              />

              <input
                type="email"
                class="contact__input"
                id="contact__email"
                placeholder="Email"
              />

              <textarea
                class="contact__textarea"
                id="contact__message"
                placeholder="Nhập nội dung..."
              ></textarea>

              <button type="submit" class="contact__btn">Gửi thông tin</button>
            </form>
          </div>
        </div>
      </div>
    </div>